.report_title{
    font-size: 14px;
    text-align: left;
    margin-right: 30px;
}

.mat-dialog {
    width: 100%;
    display: inherit;
    overflow: auto;
}

.close_btn {
    float: right;
    margin-top: -10px;
    background: inherit;
    cursor: pointer;
}

