<mat-sidenav-container class="h-100">
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
        <div fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
            <app-content-header [icon]="'exit_to_app'" [title]="'ANPR'" [hideBreadcrumb]="true" [hasBgImage]="true"
                [class]="'py-4'"></app-content-header>
            <div class="p-3" style="background: white;text-align: center;">
                <img src="assets/img/page_loading.gif" />
                <a mat-button color="accent" class="w-100">Please wait don't refresh in progress</a>
            </div>
        </div>
    </div>
</mat-sidenav-container>