.mat-chip.info-chip{
    padding: 4px 8px;
    .mat-icon{
        margin-right: 4px;
    }
}
.h-100p{
    height: 100px;
}

.heading {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1rem;
}

.mat-table{
    width: 100%;
}

.report_img{
    width: 15%;
}

/* ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #0081DC !important; 
    stroke-width: 5% !important; 
} */